#container {
    width: 100%;
    border: 3px solid whitesmoke;
    border-radius: 8px;
}

#topContainer {
    display: flex;
    align-items: center;
    margin: 30px;
}

#bottomContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem;
    align-items: center;
    justify-content: space-between;
}

#profileImg {
    height: 100px;
    width: 100px;
}

#userName {
    margin: 0;
    font-weight: 600;
}

#userEmail {
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    color: grey;
}

.box{
    height: 80px;
    width: 48%;
    display: flex;
    flex-direction: column;
}

.inputContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.label {
    color: grey;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.input {
    background: whitesmoke;
    border: none;
    border-radius: 8px;
    height: 35px;
    color: grey;
    padding-left: 12px;
}

.input:focus {
    border: none;
    outline: none;
}

@media screen and (max-width: 621px) {
    #profileImg{
        height: 80px;
        width: 80px;
    }

    #userName {
        font-size: 0.9rem;
    }

    #bottomContainer{
        padding: 0 1rem;
    }

    .box{
        width: 85%;
        margin: auto;
    }
}